body {
    margin: 0;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/NotoSerifKR.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}